{% load static %}

<div>
  <div class="p-3 border rounded">
    <h3 style="text-align: center;">Popular Tags</h3>
    <br>
    <div style="display: flex; flex-wrap: wrap;">
      <a class="m-4 btn btn-outline-danger">Retro gaming</a>
    <a class="m-4 btn btn-outline-primary">Arduino</a>
    <a class="m-4 btn btn-outline-dark">Programs</a>
    <a class="m-4 btn btn-outline-primary">Flask</a>
    <a class="m-4 btn btn-outline-danger">Django</a>
    <a class="m-4 btn btn-outline-warning">Android</a>
    <a class="m-4 btn btn-outline-primary">Hack</a>
    <a class="m-4 btn btn-outline-warning">Python</a>
    <a class="m-4 btn btn-outline-primary">PC</a>
    <a class="m-4 btn btn-outline-info">Games</a>
    <a class="m-4 btn btn-outline-primary">Books</a>
    <a class="m-4 btn btn-outline-danger">Authors</a>
    <a class="m-4 btn btn-outline-primary">Linux</a>
    </div>
  </div>
  <br>
  <div class="p-3 border rounded">
    <h3 style="text-align: center;">Best Members</h3>
    <br>
    <div style="display: flex; flex-wrap: wrap;">
      <a class="m-4 btn btn-outline-danger">Renoir</a>
      <a class="m-4 btn btn-outline-danger">Godard</a>
      <a class="m-4 btn btn-outline-danger">Bergman</a>
      <a class="m-4 btn btn-outline-danger">Fellini</a>
      <a class="m-4 btn btn-outline-danger">Kubrick</a>
      <a class="m-4 btn btn-outline-danger">Hitchcock</a>
      <a class="m-4 btn btn-outline-danger">Welles</a>
      <a class="m-4 btn btn-outline-danger">Scorsese</a>
      <a class="m-4 btn btn-outline-danger">Spielberg</a>
      <a class="m-4 btn btn-outline-danger">Tarkovsky</a>
      <a class="m-4 btn btn-outline-danger">Lynch</a>
      <a class="m-4 btn btn-outline-danger">Allen</a>
      <a class="m-4 btn btn-outline-danger">Polanski</a>
    </div>
  </div>
</div>
